.card{
    position: relative;
    padding-top: 20px;
}

.ribbon{
    width: 150px;
    padding: 10px;
    position: absolute;
    text-align: center;
    color: #f0f0f0;
    background-color: hotpink;
    right: -60px;
    top: -4px;
    transform: rotate(45deg);
    
}

